<section class="hero is-fullheight is-black is-bold">
    <div class="hero-head p-6">
        <div class="container has-text-centered">
            <p class="title">Privacy Policy for Presale.discount</p>
            <p class="title has-text-left">Effective Date: 18-1-2025</p>
            <p class="title has-text-left">Last Updated: 18-1-2025</p>
            <p class="title has-text-left">1. Introduction
            </p>
            <p class="subtitle has-text-left">
                Presale.discount is committed to protecting your privacy. This Privacy Policy outlines how we collect, use, store, and protect your personal information when you use our services, including purchasing and redeeming vouchers, visiting our website, or interacting with us in any other way.
            </p>
            <br>
            <p class="title has-text-left">2. Information We Collect</p>
            <p class="subtitle has-text-left">
                2.1. Personal Information: We may collect the following personal information:
            </p>
            <ul class="has-text-left">
                <li>
                    <p class="title">Name</p>
                </li>
                <li>
                    <p class="title">Email Address</p>
                </li>
                <li>
                    <p class="title">Billing and shipping address</p>
                </li>
                <li>
                    <p class="title">Payment details (processed securely via third-party payment processors)</p>
                </li>
            </ul>
            <p class="title has-text-left">2.2. Non-Personal Information:</p>
            <p class="subtitle has-text-left">We may collect non-personal information such as:
            </p>
            <ul class="has-text-left">
                <li>
                    <p class="title">Browser type</p>
                </li>
                <li>
                    <p class="title">Device information</p>
                </li>
                <li>
                    <p class="title">IP address</p>
                </li>
                <li>
                    <p class="title">Cookies and similar technologies to improve user experience</p>
                </li>
            </ul>
            <br>
            <p class="title has-text-left">
                2.3. Voluntary Information:
            </p>
            <p class="subtitle has-text-left">
                Any information you provide when contacting us, completing surveys, or participating in promotions.
            </p>
            <br>
            <p class="title has-text-left">
                3. How We Use Your Information
            </p>
            <p class="subtitle has-text-left">
                We use the information we collect for the following purposes:
            </p>
            <ul class="has-text-left">
                <li>
                    <p class="title">To process and deliver vouchers</p>
                </li>
                <li>
                    <p class="title">To manage customer accounts and provide customer support</p>
                </li>
                <li>
                    <p class="title">To communicate important updates and promotional offers</p>
                </li>
                <li>
                    <p class="title">To improve our website and services</p>
                </li>
                <li>
                    <p class="title">To comply with legal obligations and prevent fraudulent activities</p>
                </li>
            </ul>
            <br>
            <p class="title has-text-left">4. Sharing Your Information</p>
            <p class="subtitle has-text-left"><strong>4.1. Third-Party Service Providers:</strong> We may share your information with third parties that help us provide our services, such as payment processors, IT service providers, and marketing platforms. These parties are bound by confidentiality agreements.</p>
            <p class="subtitle has-text-left"><strong>4.2. Merchants:</strong> If necessary, we may share your information with merchants where vouchers are redeemed.</p>
            <p class="subtitle has-text-left"><strong>4.3. Legal Obligations:</strong> We may disclose your information if required to do so by law or in response to valid legal requests.</p>
            <p class="subtitle has-text-left"><strong>4.4. Business Transfers:</strong> In the event of a merger, acquisition, or sale of our business, your information may be transferred as part of the transaction.</p>
            <br>
            <p class="title has-text-left">5. Cookies and Tracking Technologies</p>
            <p class="subtitle has-text-left">5.1. We use cookies and similar technologies to:</p>
            <ul class="has-text-left">
                <li>
                    <p class="title">Enhance website functionality</p>
                </li>
                <li>
                    <p class="title">Analyze website usage</p>
                </li>
                <li>
                    <p class="title">Provide personalized content and advertisements</p>
                </li>
            </ul>
            <p class="subtitle has-text-left">
                5.2. You can control your cookie preferences through your browser settings. However, disabling cookies may affect the functionality of our website
            </p>  
            <br>
            <p class="title has-text-left">6. Data Retention</p>
            <p class="subtitle has-text-left">We retain personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy, comply with legal obligations, resolve disputes, and enforce our agreements.
            </p>
            <br>
            <p class="title has-text-left">7. Your Rights</p>
            <p class="subtitle has-text-left">You have the following rights regarding your personal information:</p>
            <ul class="has-text-left">
                <li>
                    <p class="title">Access: Request access to the personal information we hold about you.</p>
                </li>
                <li>
                    <p class="title">Correction: Request corrections to inaccurate or incomplete information.</p>
                </li>
                <li>
                    <p class="title">Deletion: Request the deletion of your personal information, subject to legal obligations.</p>
                </li>
                <li>
                    <p class="title">Restriction: Request the restriction of processing your information.</p>
                </li>
                <li>
                    <p class="title">Objection: Object to the processing of your information for certain purposes.</p>
                </li>
                <li>
                    <p class="title">Data Portability: Request the transfer of your information to another service provider</p>
                </li>
            </ul>
            <p class="subtitle has-text-left">To exercise these rights, please contact us using the details below.</p>
            <br>
            <p class="title has-text-left">8. Security of Your Information
            </p>
            <p class="subtitle has-text-left">We implement appropriate technical and organizational measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission or storage is completely secure, and we cannot guarantee absolute security.</p>
            <br>
            <p class="title has-text-left">9. Third-Party Links</p>
            <p class="subtitle has-text-left">Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of those sites. We encourage you to review their privacy policies before providing personal information.</p>
            <br>
            <p class="title has-text-left">10. Children's Privacy</p>
            <p class="subtitle has-text-left">Our services are not directed at children under the age of 13, and we do not knowingly collect personal information from children. If we become aware of such collection, we will take steps to delete the information promptly.</p>
            <br>
            <p class="title has-text-left">11. Changes to This Privacy Policy</p>
            <p class="subtitle has-text-left">We reserve the right to update this Privacy Policy at any time. Any changes will be posted on this page with the updated effective date. We encourage you to review this policy periodically to stay informed about how we are protecting your information.</p>
            <br>
            <p class="title has-text-left">12. Contact Us</p>
            <p class="subtitle has-text-left">{{ 'If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at: Presale.discount, Maarten Lutherweg 105, info@presale.discount, +31683999377' }}</p>
            <p class="subtitle has-text-left">Thank you for trusting Presale.discount with your information. We value your privacy.</p>
            

        </div>
    </div>
</section>