<mat-toolbar color="accent">
    <button mat-icon-button routerLink="/">
        <mat-icon>arrow_back</mat-icon>
    </button>
</mat-toolbar>
<section class="hero is-black is-fullheight-with-navbar is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">demo complete</p>
            <p class="subtitle">Now, as we go through this demo, imagine that each action we take represents a step in a typical real-life scenario. For instance, when we complete this payment, you wouldn’t just see a confirmation here; you would actually receive an email with your voucher. After each payment, the customer receives a separate email with a new voucher, which helps to ensure secure transactions.</p>
        </div>
    </div>
</section>