<mat-toolbar color="accent">
	<button mat-icon-button routerLink="/">
		<mat-icon>arrow_back</mat-icon>
	</button>
			<span class="toolbar-spacer"></span>

			<p class="title is-size-4">pricing</p>

</mat-toolbar>
<section class="hero is-fullheight-with-navbar is-black is-bold">
	<div class="hero-body">
		<div class="container has-text-centered">
			<p class="subtitle is-family-code">for standard cards</p>
			<nav class="level">
				<div class="level-item">
					<div>
						<p class="heading is-family-code"></p>
						<p class="title is-size-3">
							2% / Voucher 
					</p>			
					</div>
				</div>
				<div class="level-item">
					<p class="title is-size-1">+</p>
				</div>
				<div class="level-item">
					<div>
						<p class="heading is-family-code"></p>
						<p class="title is-size-3">
							€ 1 / Voucher
						</p>
					</div>
				</div>
			</nav>
			<p class="subtitle is-family-code">for uk cards</p>
			<nav class="level">
				<div class="level-item">
					<div>
						<p class="heading is-family-code"></p>
						<p class="title is-size-3">
							3% / Voucher 
					</p>			
					</div>
				</div>
				<div class="level-item">
					<p class="title is-size-1">+</p>
				</div>
				<div class="level-item">
					<div>
						<p class="heading is-family-code"></p>
						<p class="title is-size-3">
							€ 1 / Voucher
						</p>
					</div>
				</div>
			</nav>
			
		</div>
	</div>
</section>
