<section class="hero is-fullheight is-black is-bold">
    <div class="hero-head p-6">
        <div class="container has-text-centered">
            <p class="title">Terms and conditions</p>
            <p class="title has-text-left">
                1. Introduction
            </p>
            <p class="subtitle has-text-left">
                Welcome to presale.discount. These terms and conditions ("Terms") govern the use of vouchers issued by us. By purchasing, redeeming, or using our vouchers, you agree to comply with these Terms.
            </p>
            <br>
            <p class="title has-text-left">
                2. Definitions
            </p>
                <ul class="has-text-left">
                    <li>
                        <p class="title">Voucher</p>
                        <p class="subtitle">A physical or digital certificate issued by us, which can be redeemed for goods, services, or discounts at participating merchants.</p>
                    </li>
                    <li>
                        <p class="title">Merchant</p>
                        <p class="subtitle">Any third party that agrees to accept vouchers as payment for goods or services.</p>
                    </li>
                    <li>
                        <p class="title">Customer</p>
                        <p class="subtitle">The individual who purchases or uses the voucher.</p>
                    </li>
                </ul>
                <br>
                <p class="title has-text-left">
                    3. Purchase and Validity
                </p>
                <p class="subtitle has-text-left">
                    3.1. Vouchers are available for purchase via our website.
                </p>
                <p class="subtitle has-text-left">
                    3.2. Vouchers are valid only for the amount, merchant(s), and time period specified at the time of issuance.
                </p>
                <p class="subtitle has-text-left">
                    3.3. Vouchers can expire. Expired vouchers cannot be redeemed, and no extensions will be granted unless otherwise required by law.
                </p>
                <br>
                <p class="title has-text-left">
                    4. Redemption
                </p>
                <p class="subtitle has-text-left">
                    4.1. Vouchers can only be redeemed at participating merchants or on our platform, as specified on the voucher
                </p>
                <p class="subtitle has-text-left">
                    4.2. Vouchers cannot be exchanged for cash or any other monetary equivalent, except where required by law.
                </p>
                <p class="subtitle has-text-left">
                    4.3. Any unused balance on a voucher will not be refunded or credited unless stated otherwise.
                </p>
                <br>
                <p class="title has-text-left">
                    5. Restrictions
                </p>
                <p class="subtitle has-text-left">
                    5.1. Vouchers are non-transferable and may only be used by the individual named on the voucher, if applicable.
                </p>
                <p class="subtitle has-text-left">
                    5.2. Vouchers may not be used in conjunction with other promotions, discounts, or offers unless explicitly stated.
                </p>
                <p class="subtitle has-text-left">
                    5.3. Vouchers cannot be resold or exchanged, except with our prior written approval
                </p>
                <br>
                <p class="title has-text-left">
                    6. Loss, Theft, or Fraud
                </p>
                <p class="subtitle has-text-left">
                    6.1. We are not responsible for lost, stolen, or damaged vouchers.
                </p>
                <p class="subtitle has-text-left">
                    6.2. Any attempt to redeem a voucher that has been tampered with or altered will be considered fraudulent and void.
                </p>
                <p class="subtitle has-text-left">
                    6.3. We reserve the right to cancel any voucher and take legal action against fraudulent activity.
                </p>
                <br>
                <p class="title has-text-left">
                    7. Refunds and Cancellations
                </p>
                <p class="subtitle has-text-left">
                    7.1. Vouchers are non-refundable once purchased, except as required by law.
                </p>
                <p class="subtitle has-text-left">
                    7.2. If a voucher cannot be redeemed due to a merchant ceasing operations, we may, at our discretion, provide an alternative solution.
                </p>
                <br>
                <p class="title has-text-left">
                    8. Merchant Responsibilities
                </p>
                <p class="subtitle has-text-left">
                    8.1. Merchants are solely responsible for honoring the vouchers in accordance with their terms.
                </p>
                <p class="subtitle has-text-left">
                    8.2. We are not responsible for the quality, safety, or legality of goods or services provided by merchants.
                </p>
                <br>
                <p class="title has-text-left">
                    9. Limitation of Liability
                </p>
                <p class="subtitle has-text-left">
                    9.1. To the fullest extent permitted by law, we shall not be liable for any direct, indirect, incidental, or consequential damages arising from the use or inability to use a voucher.
                </p>
                <p class="subtitle has-text-left">
                    9.2. Our liability is limited to the original value of the voucher.
                </p>
                <br>
                <p class="title has-text-left">
                    10. Amendments
                </p>
                <p class="subtitle has-text-left">
                    10.1. We reserve the right to modify these Terms at any time.
                </p>
                <p class="subtitle has-text-left">
                    10.2. Any changes will be communicated via our website and will apply to all vouchers issued after the effective date of the amendments.
                </p>
                <br>
                <p class="title has-text-left">
                    11. Governing Law
                </p>
                <p class="subtitle has-text-left">
                    11.1. These Terms are governed by the laws of The Netherlands
                </p>
                <p class="subtitle has-text-left">
                    11.2. Any disputes arising under these Terms shall be subject to the exclusive jurisdiction of the courts in The Netherlands.
                </p>
                <br>
                <p class="title has-text-left">
                    12. Contact Us
                </p>
                <p class="subtitle has-text-left">
                    {{ 'For any questions or concerns about these Terms or the use of vouchers, please contact us at: Presale.discount, Maarten Lutherweg 105, info@presale.discount, +31683999377' }}
                </p>
        </div>
    </div>
</section>