<div class="is-clipped">
    <section class="hero is-fullheight is-white is-bold" @enterFromBottom>
        <div class="hero-body">
            <div class="spinner spinner-border has-text-primary" *ngIf="isFetch | async"></div>
            <div class="container has-text-centered">
                <p class="title has-text-primary" *ngIf="isFetchSuccess | async">Your e-mail is confirmed</p>
                <p class="title has-text-primary" *ngIf="isFetchError | async">
                    {{ fetchErrorMessage | async }}
                </p>
            </div>

        </div>
    </section>
</div>
