<section class="hero is-fullheight is-white is-bold">
    <div class="hero-body">
        <div class="container has-text-centered" *ngIf="!(isFetchSuccess | async)">
            <p class="title has-text-primary">Oops!</p>
            <p class="subtitle has-text-primary">Something went wrong</p>
            <mat-form-field style="width: 100%;">
                <mat-label>What were you trying?</mat-label>
                <textarea matInput rows="4"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" class="has-text-white" style="width: 100%;" (click)="fetch()" *ngIf="!(isFetch | async)">versturen</button>
            <div class="spinner spinner-border spinner-border-sm has-text-primary" *ngIf="isFetch | async"></div>
        </div>
        <div class="container has-text-centered" *ngIf="isFetchSuccess | async">
            <p class="title has-text-primary">Your error has been submitted</p>
        </div>
    </div>
</section>